body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.tile {
    background: #fff;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -2px;
    margin-top: -2px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.tile.open {
    background: #aaa;
}

.tile:focus {
    outline: none;
}

.tile.flag {
    background: #0f0;
}

.tile.mine {
    background: #f00;
}

.kbd-navigation .tile:focus {
    background: #ddd;
}

.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.game-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em 0;
}

.game-start {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em 0;
}
